 <!-- About Section -->
    <section class="success" id="about">
        <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4 text-center">
                <img class="img-responsive img-centered about-img"src="./img/profile-pic.png" />
              </div>
                <div class="col-lg-8 text-left">
                  <div class="row">
                    <div class="col-lg-12">
                      <h2>My name is Jennifer,</h2>
                    </div>
                  </div>
                    <!-- <hr class="star-light"> -->
                    <div class="row">
                      <div class="col-lg-12">
                        <p>For the past couple of years, I’ve earned a B.S. degree at University of California, San Diego for Cognitive Science w/Human Computer Interactions. I’ve self taught myself photoshop and html/css in order to build websites. And I’m proud to say I still haven’t drank a single cup of coffee in order to power through my day. But more importantly, I’ve learned how to collaborate with developers and communicate deliverables to stakeholders.</p>
                      </div>
                      <div class="col-lg-12">
                        <p>Motorcycle Rider | Craft Beer | Gamer | Urban Explorer | Creative Nomad | Foodie</p>
                      </div>
                    </div>

                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
