    <!-- Header -->

    <header style="background-image: url(/img/portfolio/{{ page.hero-img }});">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
                    <div class="intro-text">
                      <ul>
                        <li>
                          <span class="name">{{ page.title }}</span>
                        </li>
                        <!-- <hr class="star-light"> -->
                        <li>
                          <span class="skills">{{ page.category }}</span>
                        </li>
                        <li>
                          <span class="skills">{{ page.disipline }}</span>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </header>
