.project-body{
  background-color: #fff;
  margin-top: -100px;
  /*margin-right: 50px;*/
}
@media screen and (min-width: 768px){
  .project-body{
    padding: 50px 100px;
  }
}
#side-nav{
  /*white-space: nowrap;*/
  font-weight: 300;
  text-transform: none;
  margin-left: -50px;
  background-color: transparent;
}
#side-nav h4{
  text-transform: none;
  /*font-weight: 300;*/
}
#side-nav ul {
  border-left: 1px solid #000;
}
#side-nav ul li a{
  font-size: 18px;
}
#side-nav.affix {
  top: 30%;
  z-index: 2;
}
.nav>li>a:hover, .nav>li>a:focus{
  color: #18bc9c;
  background-color: transparent;
}

@media (min-width: 1200px){
.contact-form {
    margin-left: 10%;
}
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(24, 188, 156, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
